{% extends "AfandiBlogBundle::adminlayout.html.twig" %}

{% block title %}Admin Homepage - General{% endblock %}

{% block content %}

<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">General</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                {% for flash_message in app.session.flashbag.get('notice_nulldata') %}
                    <div class="alert alert-danger" role="alert">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success" role="alert">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                    <a href="{{ path('admin_general_add') }}"><button type="button" class="btn btn-primary">Add General</button></a>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>General Name</th>
                                        <th>Image</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set no = 1 %}
                                    {% for general in generals %}
                                        <tr>
                                            <td>{{ no }}</td>
                                            <td>{{ general.generalName }}</td>
                                            <td>
                                                {% if general.generalValueImage is not null %}
                                                <img src="{{ asset(['images/', general.generalValueImage] | join) }}" class="img-thumbnail" width="304" height="236">
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ path('admin_general_edit', {'id': general.id }) }}">Edit</a>
                                                <a href="{{ path('admin_general_delete', {'id': general.id }) }}">Hapus</a>
                                            </td>
                                        </tr>
                                        {% set no = no + 1 %}
                                    {% else %}
                                        <tr>
                                            <td colspan="3">No general option have been found.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                        {{ knp_pagination_render(generals, 'AfandiBlogBundle:Pagination:adminpagination.html.twig') }}
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

{% endblock %}